streamlit==1.32.0
langchain==0.1.9
langchain-text-splitters
langchain-openai==0.0.8
pinecone-client==3.1.0
docx2txt==0.8
pypdf==4.0.2
text-unidecode
langchain-community==0.0.24
langchainhub==0.1.15
openai==1.12.0
langchain-pinecone==0.0.3
beautifulsoup4==4.12.3
requests==2.31.0
text-unidecode==1.3
tiktoken==0.6.0
